@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz,wght@8..60,500;8..60,700;8..60,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");
// vars
$zilla: "Zilla Slab", serif;
$poppins: "Poppins", sans-serif;
$ss4: "Source Serif 4", serif;
$merri: "Merriweather", serif;
$light-green: #85bc77;
$dark-green: #4c7e4f;
$darker-green: #3b6430;
$super-light-green: #edf5eb;

body {
  margin: 0;
  padding: 0;
  font-family: $poppins;
}
// header
.wrapper {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  max-width: 1500px;
}
.header {
  background: $dark-green;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
}
.inner-header {
  display: flex;
  justify-content: space-between;
  max-height: 50px;
  place-items: center;
}
.fa-bars {
  color: #fff;
  cursor: pointer;
}
.nav {
  transform: translateX(100vw);
}
.logo {
  color: #fff;
  font-family: $zilla;
  font-weight: bold;
  font-size: 1.1rem;
}

// hero

.hero-section {
  padding-top: 7em;
  //   padding-bottom: 15rem;
  min-height: 100vh;
  background: $dark-green;
  .heading {
    color: #fff;
    font-family: $merri;
    font-weight: 800;
    font-size: clamp(2.5rem, 5vw, 4rem);
  }
  .sub-heading {
    color: #fff;
    font-size: 1.1rem;
  }
  .cta-div {
    display: flex;
    gap: 3rem;
    margin-top: 4rem;
    .cta {
      color: #fff;
      cursor: pointer;
      background: #000;
      border: none;
      font-family: $poppins;
      font-weight: 700;
      padding: 1.1rem;
      width: 110px;
    }
    .secondary-cta {
      color: #000;
      cursor: pointer;
      background: #fff;
      border: none;
      font-family: $poppins;
      padding: 1.1rem;
      width: 110px;
    }
  }
  .img-container {
    display: none;
  }
}

// about

.about {
  margin-top: 8rem;
  position: relative;
  .watermark {
    color: $dark-green;
    opacity: 0.12;
    font-size: 8rem;
    font-family: $ss4;
    font-weight: 500;
    position: absolute;
    top: -11rem;
    left: -2.5rem;
  }
  .section-title {
    font-family: $ss4;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 6rem;
    .colored-text {
      color: $dark-green;
    }
  }
}

// testimonials
.testimonials {
  margin-top: 12rem;
  padding-top: 10em;
  padding-bottom: 7rem;
  position: relative;
  background-color: $dark-green;
  .circle {
    background: $light-green;
    border-radius: 50%;
    border-color: #fff;
    border-style: solid;
    border-width: 0.8rem;
    padding: 2.8em;
    position: absolute;
    top: -78px;
  }
  .testimonial-content {
    color: #fff;
    display: flex;
    gap: 3rem;
    flex-direction: column;
    .card {
      background: $darker-green;
      border-radius: 4%;
      max-width: 230px;
      padding: 2rem;
      .card-content {
        margin-bottom: 6rem;
      }
    }
  }
}

// services

.services {
  margin-top: 8rem;
  position: relative;
  overflow-x: hidden;

  .watermark {
    color: $dark-green;
    opacity: 0.12;
    font-size: 8rem;
    font-family: $ss4;
    font-weight: 500;
    position: absolute;
    top: -9rem;
    left: -2.5rem;
  }
  .section-title {
    font-family: $ss4;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 8rem;
    .colored-text {
      color: $dark-green;
    }
  }
  .services-content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    .service {
      .fa-book {
        color: $dark-green;
        font-size: 1.5rem;
        rotate: -25deg;
      }
      .service-title {
        font-weight: bold;
      }
    }
  }
}
// contact

.contact {
  margin-top: 8rem;
  position: relative;
  overflow-x: hidden;
  .watermark {
    color: $dark-green;
    opacity: 0.12;
    font-size: 8rem;
    font-family: $ss4;
    font-weight: 500;
    position: absolute;
    top: -9rem;
    left: -2.5rem;
  }
  .section-title {
    font-family: $ss4;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 6rem;
    .colored-text {
      color: $dark-green;
    }
  }
  .form {
    .label-cont {
      margin-bottom: 1rem;
      margin-top: 2rem;
    }
    .input,
    .message {
      width: 97.9%;
      padding: 5px;
      background: $super-light-green;
      border: none;
      &:focus {
        outline: 2px solid $dark-green;
      }
    }

    .submit {
      background: $dark-green;
      cursor: pointer;
      border: none;
      color: #fff;
      font-weight: 700;
      margin-top: 3rem;
      padding: 1em;
    }
  }
}
// other contact

.other-contact {
  padding-top: 2rem;
  .secondary-title {
    font-family: $ss4;
    font-weight: 500;
    font-size: 1.8rem;
  }
  .contact-info {
    .info {
      display: flex;
      gap: 1.5rem;
      margin-bottom: 2rem;
    }
    a {
      text-decoration: none;
      color: #000;
    }

    .fa-envelope,
    .fa-phone {
      color: $dark-green;
      font-size: 1.5rem;
    }
  }
}
// footer

.footer {
  color: #fff;
  background: $darker-green;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  margin-top: 5rem;

  .inner-footer {
    display: flex;
    flex-direction: column;
    .footer-logo {
      font-family: $zilla;
      font-weight: bold;
    }
    .links-cont {
      gap: 2rem;
      display: flex;
      ul {
        list-style-type: none;
        padding: 0;
      }
      .list-title {
        font-weight: 700;
        margin-bottom: 1rem;
      }
      a {
        color: #fff;
        display: table;
        margin-bottom: 0.7rem;
        text-decoration: none;
      }
    }
  }
}
