@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz,wght@8..60,500;8..60,700;8..60,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  max-width: 1500px;
}

.header {
  background: #4c7e4f;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
}

.inner-header {
  display: flex;
  justify-content: space-between;
  max-height: 50px;
  place-items: center;
}

.fa-bars {
  color: #fff;
  cursor: pointer;
}

.nav {
  transform: translateX(100vw);
}

.logo {
  color: #fff;
  font-family: "Zilla Slab", serif;
  font-weight: bold;
  font-size: 1.1rem;
}

.hero-section {
  padding-top: 7em;
  min-height: 100vh;
  background: #4c7e4f;
}
.hero-section .heading {
  color: #fff;
  font-family: "Merriweather", serif;
  font-weight: 800;
  font-size: clamp(2.5rem, 5vw, 4rem);
}
.hero-section .sub-heading {
  color: #fff;
  font-size: 1.1rem;
}
.hero-section .cta-div {
  display: flex;
  gap: 3rem;
  margin-top: 4rem;
}
.hero-section .cta-div .cta {
  color: #fff;
  cursor: pointer;
  background: #000;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  padding: 1.1rem;
  width: 110px;
}
.hero-section .cta-div .secondary-cta {
  color: #000;
  cursor: pointer;
  background: #fff;
  border: none;
  font-family: "Poppins", sans-serif;
  padding: 1.1rem;
  width: 110px;
}
.hero-section .img-container {
  display: none;
}

.about {
  margin-top: 8rem;
  position: relative;
}
.about .watermark {
  color: #4c7e4f;
  opacity: 0.12;
  font-size: 8rem;
  font-family: "Source Serif 4", serif;
  font-weight: 500;
  position: absolute;
  top: -11rem;
  left: -2.5rem;
}
.about .section-title {
  font-family: "Source Serif 4", serif;
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 6rem;
}
.about .section-title .colored-text {
  color: #4c7e4f;
}

.testimonials {
  margin-top: 12rem;
  padding-top: 10em;
  padding-bottom: 7rem;
  position: relative;
  background-color: #4c7e4f;
}
.testimonials .circle {
  background: #85bc77;
  border-radius: 50%;
  border-color: #fff;
  border-style: solid;
  border-width: 0.8rem;
  padding: 2.8em;
  position: absolute;
  top: -78px;
}
.testimonials .testimonial-content {
  color: #fff;
  display: flex;
  gap: 3rem;
  flex-direction: column;
}
.testimonials .testimonial-content .card {
  background: #3b6430;
  border-radius: 4%;
  max-width: 230px;
  padding: 2rem;
}
.testimonials .testimonial-content .card .card-content {
  margin-bottom: 6rem;
}

.services {
  margin-top: 8rem;
  position: relative;
  overflow-x: hidden;
}
.services .watermark {
  color: #4c7e4f;
  opacity: 0.12;
  font-size: 8rem;
  font-family: "Source Serif 4", serif;
  font-weight: 500;
  position: absolute;
  top: -9rem;
  left: -2.5rem;
}
.services .section-title {
  font-family: "Source Serif 4", serif;
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 8rem;
}
.services .section-title .colored-text {
  color: #4c7e4f;
}
.services .services-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.services .services-content .service .fa-book {
  color: #4c7e4f;
  font-size: 1.5rem;
  rotate: -25deg;
}
.services .services-content .service .service-title {
  font-weight: bold;
}

.contact {
  margin-top: 8rem;
  position: relative;
  overflow-x: hidden;
}
.contact .watermark {
  color: #4c7e4f;
  opacity: 0.12;
  font-size: 8rem;
  font-family: "Source Serif 4", serif;
  font-weight: 500;
  position: absolute;
  top: -9rem;
  left: -2.5rem;
}
.contact .section-title {
  font-family: "Source Serif 4", serif;
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 6rem;
}
.contact .section-title .colored-text {
  color: #4c7e4f;
}
.contact .form .label-cont {
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.contact .form .input,
.contact .form .message {
  width: 97.9%;
  padding: 5px;
  background: #edf5eb;
  border: none;
}
.contact .form .input:focus,
.contact .form .message:focus {
  outline: 2px solid #4c7e4f;
}
.contact .form .submit {
  background: #4c7e4f;
  cursor: pointer;
  border: none;
  color: #fff;
  font-weight: 700;
  margin-top: 3rem;
  padding: 1em;
}

.other-contact {
  padding-top: 2rem;
}
.other-contact .secondary-title {
  font-family: "Source Serif 4", serif;
  font-weight: 500;
  font-size: 1.8rem;
}
.other-contact .contact-info .info {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2rem;
}
.other-contact .contact-info a {
  text-decoration: none;
  color: #000;
}
.other-contact .contact-info .fa-envelope,
.other-contact .contact-info .fa-phone {
  color: #4c7e4f;
  font-size: 1.5rem;
}

.footer {
  color: #fff;
  background: #3b6430;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  margin-top: 5rem;
}
.footer .inner-footer {
  display: flex;
  flex-direction: column;
}
.footer .inner-footer .footer-logo {
  font-family: "Zilla Slab", serif;
  font-weight: bold;
}
.footer .inner-footer .links-cont {
  gap: 2rem;
  display: flex;
}
.footer .inner-footer .links-cont ul {
  list-style-type: none;
  padding: 0;
}
.footer .inner-footer .links-cont .list-title {
  font-weight: 700;
  margin-bottom: 1rem;
}
.footer .inner-footer .links-cont a {
  color: #fff;
  display: table;
  margin-bottom: 0.7rem;
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */
